.container-footer{
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    color: white;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}
.container-logo-footer img{
width: 5rem;
}
.flex{
    display: flex;
}
.flex img{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}
@media (max-width: 768px) {
    .container-footer{
        width: 100%;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .flex img{
        width: 2rem;
        height: 2rem;
    }
    .container-logo-footer{
        display: none;
    }
    .flex{
        margin: 1rem auto;
    }
}